* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.main-container {
  border-block: 1px solid rgba(128, 128, 128, 0.195);
  padding: 10px;
  position: relative;
}

.profile {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  left: -50px;
  top: 20px;
}

.upper-content {
  border-radius: 25px;
  border: 1px solid #cfd9de;
  padding-left: 12px;
  padding-right: 5px;
  margin-top: 5px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  width: fit-content;
  font-size: 12px;
  font-weight: 600;
  color: #1f9bf0;
}

.lower-content {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  color: #1f9bf0;
  margin-block: 10px;
  gap: 3px;
}

.lower-content img {
  width: 16px;
}

textarea {
  resize: none;
  overflow-y: hidden;
  outline: none;
  width: 450px;
  height: auto;
  min-height: 25px;
  border: none;
  font-size: 20px;
}

textarea::placeholder {
  font-size: 20px;
  color: #546471;
}

.post-options {
  padding-top: 10px;
  border-top: 1px solid rgba(128, 128, 128, 0.195);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icons-container img {
  width: 20px;
}

.counter-and-button {
  display: flex;
  align-items: center;
  gap: 10px;
}

.counter-and-button img {
  width: 30px;
}

button {
  border-radius: 20px;
  border: none;
  padding: 10px 18px;
  font-weight: 600;
  background-color: #1f9bf0;
  color: white;
  cursor: pointer;
}

button:disabled {
  background-color: #7fb4e6;
}
